cafe/cafe/quanlyquancafe/quanlyquancafe/Connected Services/ServiceReference1/quanlyquancafeWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/quanlyquancafeWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/quanlyquancafeWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfcoffee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="coffee" nillable="true" type="tns:coffee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcoffee" nillable="true" type="tns:ArrayOfcoffee" />
  <xs:complexType name="coffee">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberOrder" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="tinhTrang" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="coffee" nillable="true" type="tns:coffee" />
</xs:schema>