cafe/cafe/quanlyquancafe/quanlyquancafe/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/quanlyquancafeWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_getInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_findCoffee_InputMessage">
    <wsdl:part name="parameters" element="tns:findCoffee" />
  </wsdl:message>
  <wsdl:message name="IService1_findCoffee_OutputMessage">
    <wsdl:part name="parameters" element="tns:findCoffeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_datMon_InputMessage">
    <wsdl:part name="parameters" element="tns:datMon" />
  </wsdl:message>
  <wsdl:message name="IService1_datMon_OutputMessage">
    <wsdl:part name="parameters" element="tns:datMonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Daban_InputMessage">
    <wsdl:part name="parameters" element="tns:Daban" />
  </wsdl:message>
  <wsdl:message name="IService1_Daban_OutputMessage">
    <wsdl:part name="parameters" element="tns:DabanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_conlai_InputMessage">
    <wsdl:part name="parameters" element="tns:conlai" />
  </wsdl:message>
  <wsdl:message name="IService1_conlai_OutputMessage">
    <wsdl:part name="parameters" element="tns:conlaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doanhthu_InputMessage">
    <wsdl:part name="parameters" element="tns:doanhthu" />
  </wsdl:message>
  <wsdl:message name="IService1_doanhthu_OutputMessage">
    <wsdl:part name="parameters" element="tns:doanhthuResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getInfo" message="tns:IService1_getInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getInfoResponse" message="tns:IService1_getInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findCoffee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/findCoffee" message="tns:IService1_findCoffee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/findCoffeeResponse" message="tns:IService1_findCoffee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="datMon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/datMon" message="tns:IService1_datMon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/datMonResponse" message="tns:IService1_datMon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Daban">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Daban" message="tns:IService1_Daban_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DabanResponse" message="tns:IService1_Daban_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conlai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/conlai" message="tns:IService1_conlai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/conlaiResponse" message="tns:IService1_conlai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doanhthu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doanhthu" message="tns:IService1_doanhthu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doanhthuResponse" message="tns:IService1_doanhthu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/getInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCoffee">
      <soap:operation soapAction="http://tempuri.org/IService1/findCoffee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datMon">
      <soap:operation soapAction="http://tempuri.org/IService1/datMon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Daban">
      <soap:operation soapAction="http://tempuri.org/IService1/Daban" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conlai">
      <soap:operation soapAction="http://tempuri.org/IService1/conlai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doanhthu">
      <soap:operation soapAction="http://tempuri.org/IService1/doanhthu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/quanlyquancafeWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>